mat-card {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
  }

.quiz-btn {
    display: inline-block;
    margin: 5px;
}

.btn {
    background-color: white;
}

.mat-card-title {
    color: pink;
}
